.main-chat
  .main-chat__header
    .main-chat__header__active-group
      %h2 Group name
      %ul
        .main-chat__header__active-group__member-list
          %li
            .main-chat__header__active-group__member-list__member
              sample
    %a.main-chat__header__edit-button
      Edit
  
  .main-chat__messages
    .main-chat__messages__message
      .main-chat__messages__message__message-info
        %p.main-chat__messages__message__message-info__name
          syouya
        %p.main-chat__messages__message__message-info__date
          2019/11/27(Thu) 20:00:00
      .main-chat__messages__message__message-text
        this is a sample message
        
