.main_chat
  .main_chat__header
    .main_chat__header__active-group
      %h2 Group name
    %ul
      .main_chat__header__member-list
        %li
          .main_chat__header__member-list__member
            sample

    .main_chat__header__edit-box
      .main_chat__header__edit-box__edit-button
        Edit
