.main-chat
  .main-chat__header
    .main-chat__header__active-group
      %h2 Group name
      %ul
        .main-chat__header__active-group__member-list
          %li
            .main-chat__header__active-group__member-list__member
              sample
    .main-chat__header__edit-button
      Edit
