.main-chat
  .header
    .header__active-group
      %h2.header__active-group__name Group name
      %ul
        .header__active-group__member-list
          Member :
          %li.header__active-group__member-list__member a
          %li.header__active-group__member-list__member b
    = link_to "#", class: "header__edit-link" do
      .header__edit-link__edit-button Edit
  .messages
    .message
      .message__message-info
        %p.message__message-info__name syouya
        %p.message__message-info__date 2019/11/27(Thu) 20:00:00
      %p.message__message-text this is a sample message
  .form-area        
    %form.form{:action => "/", :method => "post"}
      .input-form
        %input.input-form__text{:name => "text", :placeholder => "type a message", :type => "text", :value => ""}/
        %label.input-form__text__file{class: "input-box__image"}
          %input.input-form__text__file__input{type: "file"}
            .input-form__text__file__icon
              = icon('fas', 'image')
      %input.form__submit-button{:type => "submit", :value => "Send"}