.side_bar
  .side_bar__side-top
    .side_bar__side-top__user-box 
      .side_bar__side-top__user-box__name  
        %p sample
    %ul
      .side_bar__side-top__icons
        %li
          .side_bar__side-top__icons__group-edit
            = link_to "#", class: "#" do
              = icon('fas', 'edit')
        %li
          .side_bar__side-top__icons__account-edit 
            = link_to "#", class: "#" do
              = icon('fas', 'cog')

  .side_bar__side-content
    .side_bar__side-content__groups-name
      sample
    .side_bar__side-content__resent-message
      Good bye world!!