.side_top
  .side_top__user_box 
    .side_top__user_box__name  
      %p seo
  %ul
    .side_top__icons
      %li
        .side_top__icons__group_edit
          = link_to "#", class: "#" do
            = icon('fas', 'edit')
      %li
        .side_top__icons__account_edit 
          = link_to "#", class: "#" do
            = icon('fas', 'cog')

.side_content
  .side_content__groups_name
    sample
  .side_content__resent_message
    Good bye world!!