.main-chat {
  width: calc(100% - 300px);
  &__header {
    height: 99px;
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px#eeeeee;
    &__active-group {
      margin: 35px 0px 15px 30px;
      font-size: 20px;
      color: #333333;
      &__member-list {
        font-size: 12px;
        color: #999999;
      }
    }

    &__edit-button {
      margin: 28px 40px 0px 0px;
      padding: 0px 20px 0px 20px;
    }
  }
  
}