html, body {
  height: 100%;
}
.wrapper {
  height: 100%;
  display: flex;
}
.side_bar {
  height: 100%;

  background-color: #253141;
  width: 300px;
  &__side-top {
    display: flex;
    height: 100px;
    &__user-box{
      padding: 0px 20px;
      line-height: 100px;
      &__name{
        font-size: 16px;
        font-weight: bold;
        color: #FFFFFF;
      }
    }
    &__icons {
      display: flex;
      line-height: 100px;
      margin-left: 150px;
      //justify-content: space-around;

      &__group-edit {
        margin-right: 7px;
        font-size: 15px;
      }
      &__account-edit {
        font-size: 15px;
      }
      & :before{
        color: white;
      }
    }
  }

  &__side-content {
    width: 300px;
    background-color: #2f3e51;
    height: calc(100% - 100px);
    &__groups-name {
      padding: 0px 20px;
      color: #FFFFFF;
      font-size: 15px;
      font-weight: bold;
      padding: 20px 20px 0px 20px;
    }
    &__resent-message {
      color: #FFFFFF;
      font-size: 11px;
      font-weight: bold;
      padding: 0px 20px 40px 20px;
    }
  }
}